* {
    
}
/* NAVBAR SECTION */
.navbar {
    display: flex;
    background: #8c96d7;
    color: hsl(231, 15%, 18%);
    font-size: 25px;
}

.navbar-brand {
    font-size: 45px;
}

.navbar ul li {
    display: flex;
    justify-content: space-evenly;
    
  }

  /* ABOUT ME SECTION */

.about-me-avatar {
    display: inline-flex;
    height: 316px;
    /* width: 143.5; */
    /* justify-content: left; */
    /* margin: 5px; */
}
/* PORTFOLIO SECTION */

#portfolio-section {
    background: hsl(231, 15%, 18%);
    color: #8c96d7;
}
h1 {
    font-size: 70px;
}

.header1 {
    color: hsl(231, 15%, 18%); 
}

.portfolio-item :hover {
    opacity: 40%;
  }

  .portfolio-item-caption-content {
    background: hsl(231, 15%, 18%);
    font-size: 25px;
    position: absolute;
    top: 75%;
    left: center;
}

/* MODAL SECTION */
.modal-image  {
    display: inline-flex;
    width: 100%;
    height: auto;
    justify-content: center;
    /* margin: 5px; */
}

.modal-text {
    font-size: 19px;
}

/* CONTACT SECTION */

.contact-titles {
    font-size: 37px;
    /* color: white; */
}

.btn-social {
    font-size: 40px;
    border: none;
}

.need-more-text {
    font-size: 25px;
}