.navbar {
    display: flex;
    background: #8c96d7;
    color: hsl(231, 15%, 18%);
    font-size: 25px;
}

.navbar-brand {
    font-size: 45px;
}

.navbar ul li {
    display: flex;
    justify-content: space-evenly;
    
  }

.about-me-avatar {
    display: inline-flex;
    height: 316px;;
    /* width: 143.5; */
    /* justify-content: left; */
    /* margin: 5px; */
}
#portfolio-section {
    background: hsl(231, 15%, 18%);
    color: #8c96d7;
}
h1 {
    font-size: 70px;
}

.header1 {
    color: hsl(231, 15%, 18%); 
}
.portfolio-item {
    background: #8c96d7;
    /* opacity: 0; */
}
.portfolio-item-caption-content {
    background: hsl(231, 15%, 18%);
    position: absolute;
    top: 75%;
    left: 33%;
    transition: all 0.2s ease-in-out;
    /* opacity: 0; */
}

.portfolio-item :hover {
    transform: scale(1.2);
  }